{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>SocialV | {% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/libs.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/socialv.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/remixicon/fonts/remixicon.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/vanillajs-datepicker/dist/css/datepicker.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css' %}"
    />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
  </head>
  <body class="">
    {% include "components/_loader.html" %}
    <div class="wrapper">
      {% include "components/_leftbar.html" %} 
      {% include "components/_header.html" %} 
      {% include "components/_rightbar.html" %}
      <div class="container">{% block content %}{% endblock %}</div>
    </div>
    {% include "components/_footer.html" %}
    <script src="{% static 'assets/js/libs.min.js' %}"></script>
    <!-- slider JavaScript -->
    <script src="{% static 'assets/js/slider.js' %}"></script>
    <!-- masonry JavaScript -->
    <script src="{% static 'assets/js/masonry.pkgd.min.js' %}"></script>
    <!-- SweetAlert JavaScript -->
    <script src="{% static 'assets/js/enchanter.js' %}"></script>
    <!-- SweetAlert JavaScript -->
    <script src="{% static 'assets/js/sweetalert.js' %}"></script>
    <!-- app JavaScript -->
    <script src="{% static 'assets/js/charts/weather-chart.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>
    <script src="{% static 'assets/js/lottie.js' %}"></script>
  </body>
</html>
