{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Profile {% endblock  %}
{% block content %}
<div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-body profile-page p-0">
               <div class="profile-header">
                  <div class="position-relative">
                     <img src="{% static "assets/images/page-img/profile-bg1.jpg" %}" alt="profile-bg" class="rounded img-fluid">
                     <ul class="header-nav list-inline d-flex flex-wrap justify-end p-0 m-0">
                        <li><a href="#"><i class="ri-pencil-line"></i></a></li>
                        <li><a href="#"><i class="ri-settings-4-line"></i></a></li>
                     </ul>
                  </div>
                  <div class="user-detail text-center mb-3">
                     <div class="profile-img">
                        <img src="{{ profile_user.profile.profile_photo.url }}" alt="profile-img" class="avatar-130 img-fluid" />
                     </div>
                     <div class="profile-detail">
                        <h3 class="">{{ profile_user.profile.full_name }}</h3>
                     </div>
                  </div>
                  <div class="profile-info p-3 d-flex align-items-center justify-content-between position-relative">
                     <div class="social-links">
                        <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                           <li class="text-center pe-3">
                              <a href="#"><img src="{% static "assets/images/icon/08.png" %}" class="img-fluid rounded" alt="facebook"></a>
                           </li>
                           <li class="text-center pe-3">
                              <a href="#"><img src="{% static 'assets/images/icon/09.png' %}" class="img-fluid rounded" alt="Twitter"></a>
                           </li>
                           <li class="text-center pe-3">
                              <a href="#"><img src="{% static 'assets/images/icon/10.png' %}" class="img-fluid rounded" alt="Instagram"></a>
                           </li>
                           <li class="text-center pe-3">
                              <a href="#"><img src="{% static 'assets/images/icon/11.png' %}" class="img-fluid rounded" alt="Google plus"></a>
                           </li>
                           <li class="text-center pe-3">
                              <a href="#"><img src="{% static 'assets/images/icon/12.png' %}" class="img-fluid rounded" alt="You tube"></a>
                           </li>
                           <li class="text-center md-pe-3 pe-0">
                              <a href="#"><img src="{% static 'assets/images/icon/13.png' %}" class="img-fluid rounded" alt="linkedin"></a>
                           </li>
                        </ul>
                     </div>
                     <div class="social-info">
                        <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                           <li class="text-center ps-3">
                              <h6>Posts</h6>
                              <p class="mb-0">690</p>
                           </li>
                           <li class="text-center ps-3">
                              <h6>Followers</h6>
                              <p class="mb-0">206</p>
                           </li>
                           <li class="text-center ps-3">
                              <h6>Following</h6>
                              <p class="mb-0">100</p>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="card">
            <div class="card-body p-0">
               <div class="user-tabing">
                  <ul class="nav nav-pills d-flex align-items-center justify-content-center profile-feed-items p-0 m-0">
                     <li class="nav-item col-12 col-sm-3 p-0">
                        <a class="nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}" href="{% url "accounts:profile" user.username %}"  >Timeline</a>
                     </li>
                     <li class="nav-item col-12 col-sm-3 p-0">
                        <a class="nav-link {% if request.resolver_match.url_name == 'profile-about' %}active{% endif %}" href="{% url "accounts:profile-about" user.username %}">About</a>
                     </li>
                     <li class="nav-item col-12 col-sm-3 p-0">
                        <a class="nav-link" href="#pills-friends-tab" data-bs-toggle="pill" data-bs-target="#friends" role="button">Friends</a>
                     </li>
                     <li class="nav-item col-12 col-sm-3 p-0">
                        <a class="nav-link" href="#pills-photos-tab" data-bs-toggle="pill" data-bs-target="#photos" role="button">Photos</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
         {% block ProfileContent %}{% endblock  %}
      <div class="col-sm-12 text-center">
         <img src="{% static "assets/images/page-img/page-load-loader.gif" %}" alt="loader" style="height: 100px;">
      </div>
   </div>
{% endblock  %}